*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
nav{
    background-color:rgb(26, 1, 37);
    padding: 15px;
    border-radius:5px square;
    ul{
        display:flex;
        gap:15px;
    }
}
ul{
    justify-content:flex end;
        background-position:right;
margin-left: auto;
}

